body{
    background-color: slateblue;
    margin: 0;
    padding: 0;
}

header{
    background-color: chocolate;
    padding: 2em;
}

header h1{
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
}

ul{
    color: yellow;
}

ul li{
    background-color: darkseagreen;
    display: inline-block;
    list-style: none;
    width: 100px;
}

footer{
    background-color: crimson;
    color: #fff;
    text-align: center;
    padding: 50px;
}