body{
    background-color: saddlebrown;
    margin: 0;
    padding: 0;
}

header{
    background-color: chocolate;
}

header h1{
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
}

ul{
    color: yellow;
}

footer{
    background-color: crimson;
    color: #fff;
    text-align: center;
    padding: 50px;

}